<h4>Student & Instruction Login</h4>

<form id="loginForm" method="post" action="/users/login">
    <label>Username: </label>
    <input type="text" name="username"/>

    <label>Password: </label>
    <input type="password" name="password"/>
    <input type="submit" class="button" value="Login"/>
</form>

