<h3>Welcome to Black-Board Home of Online Courses</h3>
<p>We are education’s partner in change, helping learners, educators, institutions, and companies thrive in a
        complex and changing environment.Our sights are set on the future.We understand that the way people learn
        is dynamic, and that the education landscape is continuously evolving. Our mission is to partner with the
        global education community to enable student and institutional success, by leveraging innovative technologies and services.</p>
<a class="button" href="/users/signup">Sign Up For Class</a>
<p>You need to register for Classes</p>

